 path, line{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar{
  fill: red;
}

.x .axis path{
  display: none;
}

svg{
  font-size: 0.7em;
}

.section{
  margin: 0, auto;
}

.header{
  margin-top: 20px;
}

 .table{
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin: 20px 0;
}

.jsonTable th{
  text-align: center;
  font-size: 22px;
}

plotArea{
  margin-top: 120px;
}
